<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Animelist Maker</h2>

    <div class="content">
      <p>Welcomeeeeeeeeeee to the Sinatra Template! If you're seeing this page, then everything is working
      as expected. To get started, delete this file. </p>
    </div>
  </div>
</div>
v