<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Animelist Maker</h2>
    
    <p>Welcomeeeeeeeeeee to the AnimeList Maker! If you're see this page... good news... the program is ACTUALLY working.</p>

  </div>

  <ul>
  <li><a href="/signup">Sign-Up Here!</a></li>
  <li><a href="/animes">Animes here!</a></li>
</ul>
</div>
